<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
 <link rel="stylesheet" type="text/css" href="static/styles.css">
 <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
</head>

<body>
<div class="container">
	<div class="header">
		<h1>Categories</h1>
		<a href="">
			<img class="searchicon" src="static/img/search-small.png">
		</a>
	</div>

	<ul class="categorylist">
		<li>
			<a href="restaurants.html">
				<img src="static/img/restaurant-list.png">
				<h3>Restaurants</h3>
			</a>
		</li>

		<li>
			<a href="fastfood.html">
				<img src="static/img/fastfood-list.png">
				<h3>Fast Food</h3>
			</a>
		</li>

		<li>
			<a href="coffee.html">
				<img src="static/img/coffee-list.png">
				<h3>Coffee</h3>
			</a>
		</li>

		<li>
			<a href="nightclubs.html">
				<img src="static/img/nightclub-list.png">
				<h3>Nightclubs</h3>
			</a>
		</li>

		<li>
			<a href="bars.html">
				<img src="static/img/bars-list.png">
				<h3>Bars</h3>
			</a>
		</li>

		<li>
			<a href="museums.html">
				<img src="static/img/museum-list.png">
				<h3>Museums</h3>
			</a>
		</li>

		<li>
			<a href="attractions.html">
				<img src="static/img/attraction-list.png">
				<h3>Attractions</h3>
			</a>
		</li>

		<li>
			<a href="restaurants.html">
				<img src="static/img/health.png">
				<h3>Health + Medical</h3>
			</a>
		</li>

		<li>
			<a href="restaurants.html">
				<img src="static/img/financial.png">
				<h3>Financial Services</h3>
			</a>
		</li>

		<li>
			<a href="restaurants.html">
				<img src="static/img/airplane.png" style="margin-top:15px;">
				<h3>Travel</h3>
			</a>
		</li>

		<li>
			<a href="restaurants.html">
				<img src="static/img/govt.png">
				<h3>Public Services + Government</h3>
			</a>
		</li>

		<li>
			<a href="restaurants.html">
				<img src="static/img/active.png">
				<h3>Active Life</h3>
			</a>
		</li>

		<li>
			<a href="restaurants.html">
				<img src="static/img/shopping.png">
				<h3>Shopping</h3>
			</a>
		</li>
	</ul>	
<div class="row bottom">
	<div class="row navigation catnav">
			<a href="home.html">
				<img src="static/img/home-black.png">
				<h4>HOME</h4>
			</a>
			<a href="saved.html">
				<img src="static/img/saved-main.png">
				<h4>SAVED</h4>
			</a>
			<a href="categories.html">
				<img src="static/img/categories-green.png">
				<h4 class="current">CATEGORIES</h4>
			</a>
			<a href="alerts.html">
				<img src="static/img/alert-main.png">
				<h4>ALERTS</h4>
			</a>
			<a href="account.html">
				<img src="static/img/account-main.png">
				<h4>ACCOUNT</h4>
			</a>
		</div>
	</div>
</div>
</body>

</html>