<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
 <link rel="stylesheet" type="text/css" href="static/styles.css">
 <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
 <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
 <link rel="stylesheet" href="static/flexsliderhome.css" type="text/css" media="screen" />
 <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
 <script type="text/javascript" charset="utf-8">
		var wait_time = "—";
		window.onload = function load(){
			document.getElementById("test").innerHTML = wait_time;
		};
    	var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('connect', function() {
                 console.log('connected')
                 socket.emit('connected');
            });
            socket.on('message', function(data) {
                 console.log(data);
                 document.getElementById("wait").innerHTML = data.waittime;
            });
            var flag = false;
            function changeImage() {
            	if (flag === false) {
            		document.getElementById("saveHeart").src = "static/img/heartfilled.png";
            		flag = true;
            	} else {
            		document.getElementById("saveHeart").src = "static/img/heartunfilled.png";
            		flag = false;
            	}
			};
 </script>
</head>
<script>
function saveRestaurant() {
	localStorage.setItem('isSaved', true);
}
</script>
<body>
<div class="container business">
	<div class="header">
		<a href="javascript:history.back()" class="back">
			<img src="static/img/back.png">
		</a>
		<h1>Engineering 5</h1>
		<p>
			<img class="saveicon" id="saveHeart" onclick="changeImage()" src="static/img/heartunfilled.png">
		</p>
		<a href="">
			<img class="searchicon" src="static/img/search-small.png">
		</a>
	</div>

	<div class="wait">
		<a href="newalert.html">
			<img src="static/img/addalert.png">
		</a>
		<h1 id="wait"></h1>
		<i class="fa fa-angle-up" aria-hidden="true"></i><p>up 5 minutes from 15 minutes ago</p>
	</div>

	<div class="info">
		<h3>Info</h3>
		<div class="inforow1">
			<p>500 m</p>
			<p>$$</p>
			<div class="ratings">
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star-o" aria-hidden="true"></i>
				<p>2 ratings</p>
			</div>
		</div>
		<p>Open today <span>11:30 am - 1 am <i class="fa fa-angle-down" aria-hidden="true"></i></span></p>
		<p>Over 150 beers available with an extensive food menu, served in a trendy sports bar.</p>
	</div>

	<div class="contact">
		<a href="">
			<i class="fa fa-phone" aria-hidden="true"></i>
			<p>CALL</p>
		</a>
		<a href="">
			<i class="fa fa-globe" aria-hidden="true"></i>
			<p>WEBSITE</p>
		</a>
		<a href="">
			<img src="static/img/map.png">
			<p>MAP</p>
		</a>
		<a href="">
			<img src="static/img/share.png">
			<p>SHARE</p>
		</a>
	</div>

	<div class="photos">
		<p class="seeall">SEE ALL</p>
		<h3>Photos</h3>
		<div class="piccarousel">
			<img src="static/img/restaurants/Engineering 5/main96x96.jpg">
			<img src="static/img/restaurants/Engineering 5/extra96x96.jpg">
			<img src="static/img/restaurants/Engineering 5/extra96x96 2.jpg">
			<img src="static/img/restaurants/Engineering 5/extra96x96 3.jpg">
			<img src="static/img/restaurants/Engineering 5/extra96x96 4.jpg">
		</div>
	</div>

	<div class="reviews">
		<h3>Reviews</h3>
		<div class="review">
			<img src="static/img/review1.png">
			<h5>2 days ago</h5>
			<div class="reviewer">
			<p>Monica M.</p>
			<div class="ratings">
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star-o" aria-hidden="true"></i>
			</div>
		</div>
			<p>Best mac and cheese ever! Love the decor and atmosphere as well.</p>
		</div>

				<div class="review">
			<img src="static/img/review2.png">
			<h5>1 month ago</h5>
			<div class="reviewer">
			<p>Zachari W.</p>
			<div class="ratings">
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star-o" aria-hidden="true"></i>
			</div>
		</div>
			<p>Best beer selection in Waterloo. The beer paddles are really neat.</p>
		</div>
		<button>LEAVE A REVIEW</button>

	</div>

	<div class="similar">
		<h3>Similar Places</h3>
		<section class="slider">
        <div class="flexslider">
          <div class="slides">
            <div style="display: inline-block; padding-right: 7px;">
            <a href="Bauer Kitchen">
            	<img src="static/img/bauer.jpg"/>
            	<p>Bauer</p>
				<h5>15 min wait</h5>
			</a>
            </div>
            <div style="display: inline-block; padding-right: 7px;">
            <a href="Charcoal%20Steak%20House">
            	<img src="static/img/charcoal.jpg"/>
            	<p>Charcoal</p>
				<h5>12 min wait</h5>
			</a>
            </div>
            <div style="display: inline-block; padding-right: 7px;">
            <a href="The%20Yeti">
            	<img src="static/img/yeti.jpg"/>
            	<p>The Yeti</p>
				<h5>23 min wait</h5>
			</a>
            </div>
            <div style="display: inline-block; padding-right: 7px;">
            <a href="Kinkaku">
            	<img src="static/img/kinkaku.jpg"/>
            	<p>Kinkaku</p>
				<h5>1 min wait</h5>
			</a>
            </div>
            <div style="display: inline-block; padding-right: 7px;">
            <a href="Bao%20Sandwich">
            	<img src="static/img/bao.jpg"/>
            	<p>Bao</p>
				<h5>25 min wait</h5>
			</a>
            </div> 
          </div>
        </div>
      </section>
	</div>

	<div class="row bottom">
	<div class="row navigation">
			<a href="home.html">
				<img src="static/img/home-black.png">
				<h4>HOME</h4>
			</a>
			<a href="saved.html">
				<img src="static/img/saved-main.png">
				<h4>SAVED</h4>
			</a>
			<a href="categories.html">
				<img src="static/img/category-main.png">
				<h4>CATEGORIES</h4>
			</a>
			<a href="alerts.html">
				<img src="static/img/alert-main.png">
				<h4>ALERTS</h4>
			</a>
			<a href="account.html">
				<img src="static/img/account-main.png">
				<h4>ACCOUNT</h4>
			</a>
	</div>
</div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>
    <!-- FlexSlider -->
  <script defer src="jquery.flexslider-min.js"></script>

  <script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        animationLoop: false,
        itemWidth: 87,
        itemMargin: 7,
        pausePlay: false,
        slideshow: false,
        touch: true,
        controlNav: false,
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
</body>
</html>