<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
 <link rel="stylesheet" type="text/css" href="static/styles.css">
 <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
 <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
<div class="container">
	<div class="header">
		<a href="filter.html">
			<img src="">
		</a>
		<h1>Search Results</h1>
		<a href="">
			<img class="searchicon" src="static/img/search-small.png">
		</a>
	</div>

	<div class="searchresult">
		<p>You searched for: bauer</p>
		<h5>1 result</h5>
	</div>

	<div class="venuelist row">
		<a href="Bauer%20Kitchen">
		<div class="venue">
			<img src="static/img/bauer.jpg">
			<div class="venueinfo">
				<h5>3km</h5>
				<p>Bauer Kitchen</p>
				<p>5 minutes</p>
				<div class="ratings">
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="false"></i>
					<i class="fa fa-star-o" aria-hidden="false"></i>
					<p>14 ratings</p>
				</div>
				<p>$$, craft beer, Canadian</p>
			</div>
		</div>
		</a>
	</div>

	<div class="row bottom">
	<div class="row navigation catnav">
			<a href="home.html">
				<img src="static/img/home-black.png">
				<h4>HOME</h4>
			</a>
			<a href="saved.html">
				<img src="static/img/saved-main.png">
				<h4>SAVED</h4>
			</a>
			<a href="categories.html">
				<img src="static/img/categories-green.png">
				<h4 class="current">CATEGORIES</h4>
			</a>
			<a href="alerts.html">
				<img src="static/img/alert-main.png">
				<h4>ALERTS</h4>
			</a>
			<a href="account.html">
				<img src="static/img/account-main.png">
				<h4>ACCOUNT</h4>
			</a>
		</div>
	</div>
</div>
</body>